* {
	box-sizing: border-box;
}

.ndjinn-editor {
	@apply relative;
	width: 100vw;
	height: 100vh;
	background: var(--ndjinn-editor-bg, black);

	ndjinn-toolbar {
		@apply absolute w-full;
	}

}
