:host {
	@apply absolute w-full h-full;
}

canvas {
	@apply w-full h-full;
	background: transparent;
}

.nodes {
	@apply absolute w-full h-full left-0 top-0;

	--grid-color: rgba(255, 255, 255, 0.08);
	--grid-size: 1rem;
	background-image: radial-gradient(circle, var(--grid-color, black) 1px, rgba(0, 0, 0, 0) 1px), radial-gradient(circle, var(--grid-color, black) 1px, rgba(0, 0, 0, 0) 1px);
	background-size: var(--grid-size, 1rem) var(--grid-size, 1rem);
}