.port {
	@apply flex justify-center items-center;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: white;
	border: 4px solid var(--ndjinn-editor-bg, black);
	cursor: pointer;
	cam-icon {
		opacity: 0;
	}
}
.port.connected {
	&.input:hover {
		background: var(--njdinn-port-delete, #df5363);
		border: 4px solid var(--njdinn-port-delete, #df5363);
		cam-icon {
			opacity: 1;
			font-size: 0.4rem;
			color: var(--njdinn-port-delete, #df5363);
			filter: brightness(2);
		}
	}
}

.port.connected {
	&.any {background: #888}
	&.undefined {background: black}

	&.bool {background: #69214f}
	&.bit {background: #69214f}

	&.str {background: #fff}
	&.arr {background: #fff}
	&.obj {background: #fff}
	&.num {background: var(--ndjinn-port-num, #839296)}
	&.uint8 {background: var(--ndjinn-port-num, #839296)}

	&.vec2 {background: var(--ndjinn-port-vec2, #abe4b2)}
	&.vec3 {background: var(--ndjinn-port-vec3, #69c77e)}
	&.vec4 {background: var(--ndjinn-port-vec4, #329948)}

	&.rgb {background: var(--ndjinn-port-color, #9ac2fa)}
	&.rgba {background: var(--ndjinn-port-color, #9ac2fa)}
	&.hsl {background: var(--ndjinn-port-color, #9ac2fa)}
	&.hsla {background: var(--ndjinn-port-color, #9ac2fa)}

	&.mat2 {background: var(--ndjinn-port-mat2, #e4c4bb)}
	&.mat3 {background: var(--ndjinn-port-mat3, #e4a594)}
	&.mat4 {background: var(--ndjinn-port-mat4, #e7896e)}
}